/* @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

h1,
h2,
h3,
h4,
h5,
p,
li {
  font-family: "irSans", Helvetica, Arial, Lucida, sans-serif;
}

p {
  font-family: "irSans", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 2em;
}

h4 {
  font-size: 18px;
  font-family: "irSans", Helvetica, Arial, Lucida, sans-serif;
}

body {
  margin: 0 !important;
  font-family: "irSans", Helvetica, Arial, Lucida, sans-serif;
}

#app {
  font-family: "irSans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  display: flex;
  padding: 20px;
}

#nav a {
  font-weight: bold;
  color: #fff;
}

#nav a.router-link-exact-active {
  color: #1a1a1a;
} */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
